@import "src/variables";
header{
    width: 90vw;
    align-self: center;
    
    form{
        height: 5vh;
        width: 90vw;
        text-align: center;
        border-radius: 15px;
        box-shadow: 3px 3px 4px $springGreen;
    }
    button{
        background-color: $candy;
        border:0px;
        border-radius:0px 15px 15px 0px;
        color:$sky;
        font-size: 1.5vw;
        width: 5vw;
    }
    button:hover{
        background-color: $sky;
        color: $candy;
    }
    .input{
        font-weight: 400;
        width: 85vw;
        height: 5vh;
        border-radius: 15px 0px 0px 15px;
        font-size: 2vw;
        border: 0px;
        padding-left: 10px;
        color:$byza

    }
    .input:active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
        ::placeholder{
            opacity: 0;
        }
       
    }
    .input::placeholder{
        font-size: 2vw;
        text-align: justify;
    }
    
}

