$gloss: hsl(273, 26%, 66%,75%);
$springGreen:#0fff97;
$sky:hsl(188, 100%, 59%,75%);
//$candy:hsl(339, 100%, 86%);
$jet:#305252;
$teaGreen:#c5edac;
$byza:#51344d;
$candy:#305252;
$grad1:#ef959d;
$grad2:#4a001f;